**SETUP AND LOAD CLEAN DATA**

**mount drive**

In [1]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [2]:
#import library
import pandas as pd

In [3]:
# Load your cleaned Phase 1 dataset
df = pd.read_csv('/content/drive/My Drive/Project data set/completed task/cleaned_linkedin_jobs.csv')

In [5]:
#check columns
df.head(2)

,job_id,company_name,title,max_salary,pay_period,location,company_id,views,med_salary,min_salary,...,salary_id,name,company_size,state,country,city,address,url,skill_abr,skill_name
0,921716,Corcoran Sawyer Smith,Marketing Coordinator,20.0,HOURLY,"Princeton, NJ",2774458.0,20.0,NaN,17.0,...,18531.0,Corcoran Sawyer Smith,2.0,NJ,US,Jersey City,242 Tenth Street,https://www.linkedin.com/company/corcoran-sawy...,MRKT,Marketing
1,921716,Corcoran Sawyer Smith,Marketing Coordinator,20.0,HOURLY,"Princeton, NJ",2774458.0,20.0,NaN,17.0,...,18531.0,Corcoran Sawyer Smith,2.0,NJ,US,Jersey City,242 Tenth Street,https://www.linkedin.com/company/corcoran-sawy...,SALE,Sales

In [6]:
#view all columns by transpose
df.describe(include= "all").transpose()

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
job_id,207531.0,NaN,NaN,NaN,3896567388.836555,82970449.123986,921716.0,3894869457.0,3902322128.0,3904713527.5,3906267224.0
company_name,204705,24428,The Job Network,1469,NaN,NaN,NaN,NaN,NaN,NaN,NaN
title,206863,69431,Sales Manager,1351,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max_salary,50764.0,NaN,NaN,NaN,96526.457333,758480.95656,1.0,51.0,85000.0,143100.0,120000000.0
pay_period,61100,5,YEARLY,36355,NaN,NaN,NaN,NaN,NaN,NaN,NaN
location,207531,8526,United States,13788,NaN,NaN,NaN,NaN,NaN,NaN,NaN
company_id,204709.0,NaN,NaN,NaN,12285331.78382,25881513.460011,1009.0,13542.0,217338.0,7801046.0,103472979.0
views,204630.0,NaN,NaN,NaN,14.828857,84.973351,1.0,3.0,4.0,8.0,9975.0
med_salary,10336.0,NaN,NaN,NaN,20976.830088,48922.223238,0.0,18.45,25.0,2236.5,750000.0
min_salary,50764.0,NaN,NaN,NaN,67776.09446,536643.666568,1.0,40.0,65000.0,100000.0,85000000.0
formatted_work_type,207531,7,Full-time,167812,NaN,NaN,NaN,NaN,NaN,NaN,NaN
applies,40337.0,NaN,NaN,NaN,10.170513,27.160571,1.0,1.0,3.0,8.0,967.0
original_listed_time,207531.0,NaN,NaN,NaN,1713154922398.83252,487933269.139426,1701810533000.0,1712863872000.0,1713396790000.0,1713478525000.0,1713572803000.0
remote_allowed,26777.0,NaN,NaN,NaN,1.0,0.0,1.0,1.0,1.0,1.0,1.0
job_posting_url,207531,123849,https://www.linkedin.com/jobs/view/3905336002/...,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
application_url,144848,84800,https://app.dataannotation.tech/worker_signup?...,609,NaN,NaN,NaN,NaN,NaN,NaN,NaN
application_type,207531,4,OffsiteApply,141044,NaN,NaN,NaN,NaN,NaN,NaN,NaN
expiry,207531.0,NaN,NaN,NaN,1716237085706.092285,2365892907.24491,1712903448000.0,1715483095000.0,1716043202000.0,1716088700000.0,1729124796000.0
closed_time,1437.0,NaN,NaN,NaN,1712983853528.183838,377782174.416342,1712345932000.0,1712669768000.0,1712672097000.0,1713393421000.0,1713562107000.0
formatted_experience_level,159491,6,Mid-Senior level,68954,NaN,NaN,NaN,NaN,NaN,NaN,NaN
skills_desc,3806,2212,This position requires the following skills: E...,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN
listed_time,207531.0,NaN,NaN,NaN,1713209877547.566895,395796589.309698,1711317014000.0,1712888410000.0,1713408433000.0,1713485287000.0,1713572816000.0
posting_domain,137921,4443,www.click2apply.net,5184,NaN,NaN,NaN,NaN,NaN,NaN,NaN
sponsored,207531.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
work_type,207531,7,FULL_TIME,167812,NaN,NaN,NaN,NaN,NaN,NaN,NaN
currency,61100,6,USD,61078,NaN,NaN,NaN,NaN,NaN,NaN,NaN
compensation_type,61100,1,BASE_SALARY,61100,NaN,NaN,NaN,NaN,NaN,NaN,NaN
normalized_salary,61100.0,NaN,NaN,NaN,186340.626595,4367242.155342,0.0,52000.0,81250.0,125000.0,535600000.0
fips,160289.0,NaN,NaN,NaN,28655.08363,16081.326333,1003.0,13067.0,29183.0,42091.0,56045.0
salary_id,61100.0,NaN,NaN,NaN,20548.017119,11653.90838,1.0,10576.75,20545.0,30488.0,40785.0
name,204705,24428,The Job Network,1469,NaN,NaN,NaN,NaN,NaN,NaN,NaN
company_size,195612.0,NaN,NaN,NaN,4.934288,2.070716,1.0,3.0,5.0,7.0,7.0
state,204644,788,0,15145,NaN,NaN,NaN,NaN,NaN,NaN,NaN
country,204708,81,US,183223,NaN,NaN,NaN,NaN,NaN,NaN,NaN
city,204705,4124,New York,12177,NaN,NaN,NaN,NaN,NaN,NaN,NaN
address,204631,19476,0,23708,NaN,NaN,NaN,NaN,NaN,NaN,NaN
url,204708,24473,https://www.linkedin.com/company/the-job-network,1469,NaN,NaN,NaN,NaN,NaN,NaN,NaN
skill_abr,205778,35,IT,25256,NaN,NaN,NaN,NaN,NaN,NaN,NaN
skill_name,205778,35,Information Technology,25256,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**TOP JOB TITLES BY AVERAGE SALARY**

In [14]:
top_titles = df.groupby('title')['normalized_salary'].mean().sort_values(ascending=False).head(10).reset_index()
print('top 10 job titles(average salary):\n', top_titles)

top 10 job titles(average salary):
                                                title  normalized_salary
0                    Intellectual Property Associate       5.356000e+08
1                 Case Manager RN, Pedi Rheumatology       3.624088e+08
2  Manager Clinical Applications Support Ancillar...       2.304234e+08
3                             Cloud Domain Architect       1.907125e+08
4                Trial Paralegal Hybrid in OC or LA!       1.872000e+08
5                                 Billing Supervisor       1.733608e+08
6                                     DCS Technician       1.560000e+08
7                               Sharepoint Developer       1.525697e+08
8  Full Time Field Service Technician Anaheim/Pom...       1.352000e+08
9              Technical Assistant Employee Benefits       1.071200e+08

**TOP COMPANIES BY NUMBER OF POSTING**

In [32]:
top_companies = df["company_name"].value_counts().head(10).reset_index()
print('top 10 most active company\n\n',top_companies)

top 10 most active company

                                      company_name  count
0                                 The Job Network   1469
1                                         J. Galt   1208
2  Liberty Healthcare and Rehabilitation Services   1114
3                          Lowe's Companies, Inc.   1056
4                     Millennium Recruiting, Inc.    946
5                                          Amazon    898
6                                     Capital One    880
7                           Cogent Communications    855
8                                  Ingersoll Rand    845
9                                  DataAnnotation    789

**REMOTE VS ONSITE BREAKDOWN**

In [18]:
# Check remote vs. on-site
df['remote_allowed'].value_counts(normalize=True).rename({True: 'Remote', False: 'On-site'})

remote_allowed
Remote    1.0
Name: proportion, dtype: float64

In [19]:
df['remote_allowed'].value_counts(dropna=False)

remote_allowed
NaN    180754
1.0     26777
Name: count, dtype: int64

In [20]:
df['remote_allowed'].unique()

array([nan,  1.])

In [25]:
df[['title', 'remote_allowed']].sample(3)

                                                title  remote_allowed
150684  Technician Apprentice Program Body Apprentice             NaN
158677                        Human Resources Manager             1.0
61462                    Federal Account Manager West             NaN

In [26]:
# add a New Column & analyze
df['remote_status'] = df['remote_allowed'].apply(lambda x: 'Remote' if x == 1 else 'Not Remote')

In [27]:
remote_breakdown = df['remote_status'].value_counts(normalize=True) * 100

for status, percentage in remote_breakdown.items():
    print(f"{status}: {percentage:.2f}% of job postings")

Not Remote: 87.10% of job postings
Remote: 12.90% of job postings

**SALARY BY LOCATION**

In [31]:
salary_by_location = df.groupby("location")["normalized_salary"].mean().sort_values(ascending=False).head(10).reset_index()
print("Top Locations by Average Salary:\n", salary_by_location)

Top Locations by Average Salary:
                                   location  normalized_salary
0  Springfield, Illinois Metropolitan Area       1.525448e+08
1                             Westwood, CA       1.300327e+08
2                         Williamstown, KY       5.336652e+07
3                                Nyack, NY       4.789500e+07
4                           Charleston, SC       1.256184e+07
5                           Wilmington, NC       9.065638e+06
6                             Lakeland, FL       8.602881e+06
7                          Bloomington, MN       7.886031e+06
8                            Riverside, CA       6.256136e+06
9                            Roseville, CA       6.110583e+06

**FULL TIME VS INTERSHIP BY INDUSTRY**

In [34]:
# Load supporting files
company_industries = pd.read_csv('/content/drive/My Drive/Project data set/company_industries.csv')
industries = pd.read_csv('/content/drive/My Drive/Project data set/industries.csv')

In [35]:
#view files
company_industries.head(2)

   company_id                        industry
0      391906  Book and Periodical Publishing
1    22292832                    Construction

In [36]:
#view files
industries.head(2)

   industry_id                    industry_name
0            1  Defense and Space Manufacturing
1            3  Computer Hardware Manufacturing

In [37]:
df = df.merge(company_industries, how = "left", on= "company_id")

In [38]:
df.head(2)

,job_id,company_name,title,max_salary,pay_period,location,company_id,views,med_salary,min_salary,...,company_size,state,country,city,address,url,skill_abr,skill_name,remote_status,industry
0,921716,Corcoran Sawyer Smith,Marketing Coordinator,20.0,HOURLY,"Princeton, NJ",2774458.0,20.0,NaN,17.0,...,2.0,NJ,US,Jersey City,242 Tenth Street,https://www.linkedin.com/company/corcoran-sawy...,MRKT,Marketing,Not Remote,Real Estate
1,921716,Corcoran Sawyer Smith,Marketing Coordinator,20.0,HOURLY,"Princeton, NJ",2774458.0,20.0,NaN,17.0,...,2.0,NJ,US,Jersey City,242 Tenth Street,https://www.linkedin.com/company/corcoran-sawy...,SALE,Sales,Not Remote,Real Estate

In [45]:
#Analyze formatted_work_type (internship, full-time) by industry
intern_full = df[['industry', 'formatted_work_type']].dropna(subset=['industry'])
intern_full.head()

       industry formatted_work_type
0   Real Estate           Full-time
1   Real Estate           Full-time
3   Restaurants           Full-time
4   Restaurants           Full-time
5  Law Practice           Full-time

In [48]:
internship_split = intern_full.groupby(['industry', 'formatted_work_type']).size().unstack().fillna(0)
internship_split.head(10).reset_index()

formatted_work_type,industry,Contract,Full-time,Internship,Other,Part-time,Temporary,Volunteer
0,Accounting,7.0,830.0,38.0,0.0,22.0,2.0,0.0
1,Administration of Justice,0.0,14.0,0.0,0.0,0.0,0.0,0.0
2,Advertising Services,89.0,2427.0,65.0,6.0,110.0,17.0,0.0
3,Airlines and Aviation,4.0,373.0,14.0,0.0,25.0,10.0,2.0
4,Alternative Dispute Resolution,0.0,0.0,1.0,0.0,0.0,0.0,0.0
5,Alternative Medicine,6.0,60.0,1.0,0.0,16.0,0.0,2.0
6,Animation and Post-production,0.0,4.0,0.0,0.0,0.0,0.0,0.0
7,"Appliances, Electrical, and Electronics Manufa...",6.0,1133.0,14.0,0.0,8.0,4.0,0.0
8,Architecture and Planning,12.0,363.0,4.0,0.0,4.0,0.0,0.0
9,Armed Forces,3.0,103.0,0.0,0.0,81.0,0.0,0.0